    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
              </a>
  
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/" class="nav-link px-2 text-secondary">Draw Better Cards</a></li>
                  <li><a href="/search" class="nav-link px-2 text-white">All Decks</a></li>
                  <% if (isLoggedIn) { %>
                      <li><a href="/mydecks" class="nav-link px-2 text-white">My Decks</a></li>
                      

                      <% if (user.is_admin === true) { %>
                          <li><a href="/admin/landing" class="nav-link px-2 text-white">Admin</a></li>
                      <% } %>
                <% } %>
              </ul>
        
              <!--<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
              </form>-->
  
          <div class="text-end">
              <% if (isLoggedIn) { %>
                  <!--imports-->
                  <form action="/logout" method="POST">
                    <button type="submit" class="btn btn-outline-light me-2">Log Out</button>
                  </form>
              <% } else { %>
                  <div class="btn-group">
                      <a href="/login" class="btn btn-outline-light me-2">Login</a>
                      <a href="/register" class="btn btn-warning">Sign-up</a>
                  </div>
              <% } %>
          </div>
        </div>
      </div>
    </header>