.env
.eslintrc.json
certs
node_modules
scripts/config.py
scripts/meta
scripts/test
scripts/__pycache__
scripts/rsrc/config.py
scripts/rsrc/__pycache__
scripts/rsrc/cardDetails.htm
scripts/data/*.txt


