<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Draw Better Cards</title>

    <link rel="stylesheet" href ="/assets/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <script src="/assets/js/bootstrap.js"></script>
</body>
</html>

<h1>404</h1>
<h2>The Brobnar got here first</h2>