<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Draw Better Cards</title>

    <link rel="stylesheet" href ="/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="bg-dark text-white ps-3 pb-5">
        <h1>About Draw Better Cards</h1>

        <% // socials icons/badges %>
        <div class="mb-4">
            <script src="https://kit.fontawesome.com/9725f9ef8a.js" crossorigin="anonymous"></script>

            <a href="https://www.patreon.com/archonscorner" class="fa-brands fa-patreon mx-2" style="text-decoration: none; background: #ff3244; color: white; font-size: 48px;"></a>
            <a href="https://www.spreaker.com/show/archonscorner" class="fa-solid fa-microphone-lines mx-2" style="text-decoration: none; color: white; font-size: 48px;"></a>
            <a href="https://discord.gg/DQ6cwfmHxx" class="fa-brands fa-discord mx-2" style="text-decoration: none; color: white; font-size: 48px;"></a>


            <a href="https://www.youtube.com/c/ArchonsCorner" class="fa-brands fa-youtube ms-2 me-4 float-end" style="text-decoration: none; background: #FF0000; color: white; font-size: 48px;"></a>
            <a href="https://twitter.com/ArchonsCorner" class="fa-brands fa-twitter mx-2 float-end" style="text-decoration: none; background: #55ACEE; color: white; font-size: 48px;"></a>
            <a href="https://www.facebook.com/archonscorner" class="fa-brands fa-facebook mx-2 float-end" style="text-decoration: none; background: #2861ff; color: white; font-size: 48px;"></a>
            <a href="https://archonscorner.myspreadshop.com/" class="fa-solid fa-shirt ms-2 float-end" style="text-decoration: none; color: white; font-size: 48px;"></a>
        </div>


        <div class="my-2">
            <h4 class="text-warning">Archons Corner</h4>
            <div class="ms-3">
                <h5>Archons Corner is several things:</h5>
                <ul>
                    <li class="py-1">One of the most listened to/downloaded <a href="https://www.spreaker.com/show/archonscorner" style="color: #85a5ff;">KeyForge podcast</a></li>
                    <li class="py-1">A robust and active <a href="https://discord.gg/DQ6cwfmHxx" style="color: #85a5ff;">discord community</a></li>
                    <li class="py-1">A team that brings the community weekly online events</li>
                    <li class="py-1">Event organizers that hosted KeyForge LIVE in 2021</li>
                    <li class="pt-1">A group of friends that enjoy investing time in KeyForge, probably more than is healthy</li>
                </ul>
                <h5 class="text-warning fst-italic">And now Archons Corner is here to bring you a new deck analysis metric!</h5>
            </div>


        <div class="px-4">
            <div class="my-4">
                <h4 class="text-warning">What the heck is Z Score?</h4>
                <div class="ps-4">
                    <p>Z score (not to be confused with the statistics term) started out as a card scoring system developed by Zarathustra, also known as Z. This system was designed to analyze the sum of card values of a KeyForge set and compare the overall strength of sets. Furthermore, it lets users analyze differences between house strengths within and across sets.</p>
                    <p>All scores are based on a purely competitive lens. Each card is rated from 0-6 and the rating greatly depends on whether the card leads to winning KeyForge games in the competitive meta. 
                        These scores were then weighted by their rarity to derive weighted average scores to assess the strength of houses and sets. This information can be found in the 'KF Card Analysis' sheet provided to Archons Corner Patreons.
                        A few members of the community wanted to see if this data could be useful as a metric by deriving a deck score based on the sum of card values for any given deck. After some resistance at first, the data that was being yielded was surprisingly beneficial. And now we bring you Z Score on a broader scale.</p>
                </div>
            </div>
    
            <div class="my-2">
                <h4 class="text-warning">Scoring</h4>
                <div class="ps-4 mt-2 mb-3">
                    Deck scores are calculated by summing the score of each card in the deck.
                    The score of a card may change depending on how many duplicates of that card exist.
                    Each card in the game is scored accordingly within its set to the following:
                </div>
                <ul style="list-style-type:none;" class="ps-5">
                    <li>0 = Terrible</li>
                    <li>1 = Bad</li>
                    <li>2 = Below Average</li>
                    <li>3 = Average</li>
                    <li>4 = Good</li>
                    <li>5 = Great</li>
                    <li>6 = Chase Card</li>
                </ul>
                <div class="ps-4 mt-2 mb-3">
                    Decks are scored when an authenticated user imports the deck.
                    All users are given 30 imports when they sign up and an extra 5 at the start of each month.
                    Additional imports are available for <a href="https://www.patreon.com/archonscorner" style="color: #85a5ff;">Patreons</a> and all Patreons have the ability to manage the decks in their collection.
                </div>
            </div>

            <div class="my-2">
                <h4 class="text-warning">Additional Metrics</h4>
                <ul style="list-style-type:none;">
                    <li class="pt-1"><span class="text-warning">E = Easy AEmber Gain</span> - Number of cards that easily gain at least one aember.</li>
                    <li class="ps-5 pb-1 fw-light">Note: This is not a metric that is quantifying how much aember is being gained. Just how many cards are expected to yield at least 1 aember on play.</li>
                    <li class="py-1"><span class="text-warning">A = AEmber Control</span> - Number of cards that can keep your opponent from forging with aember at the start of their turn. Even if it is a single aember, the card will be counted.</li>
                    <li class="py-1"><span class="text-warning">C = Creature Control</span> - Number of cards that negatively impact your opponent's creatures.</li>
                    <li class="py-1"><span class="text-warning">F = Efficiency</span> - Number of cards that increase the rate at which you can move through your deck.</li>
                    <li class="py-1"><span class="text-warning">D = Disruption</span> - Number of cards that significantly disrupt your opponent with ease.</li>
                    <li class="py-1"><span class="text-warning">R = Hard Artifact Removal</span> - Number of cards that can remove an opponent's artifact from play.</li>
                    <li class="py-1"><span class="text-warning">BoB = Bodies on the Board</span> - Number of creatures with "survivable" power. Typically this means they have 4 or more combined Power + Armor, or some other trait that keeps them in play longer. </li>
                    <li class="py-1"><span class="text-warning">Scaling A = Scaling AEmber Control</span> - Number of cards that can control massive amounts of aember.</li>
                    <li class="py-1"><span class="text-warning">Wipes = Board Wipes</span> - Number of cards that can kill large amounts of creatures.</li>
                    <li class="py-1"><span class="text-warning">Cheats = Key Cheats</span> - Number of cards that can reliably be used as a Key Cheat.</li>
                    <li class="py-1"><span class="text-warning">Tokens = Token Generation</span> - Number of cards that make at least 1 Token.</li>
                </ul>
            </div>
    
            
            <div class="my-2">
                <h4 class="text-warning">Alpha Score</h4>
                <div class="mt-2 mb-3">
                    Alpha scores are manual ratings assigned after the deck is analyzed by a member of the AC team.
                    Archons Corner <a href="https://www.patreon.com/archonscorner" style="color: #85a5ff;">Patreons</a> may request a set number of Alpha Scores per month according to their Patreon rank.
                    The deck is assessed on metrics and card interactions based on how the deck should perform on paper, subject to the experience of the grader.
                    Before requesting a re-score, it's highly suggested that the user gets more competitive reps with the deck to get a comprehensive feel for it.
                    A re-score does not guarantee that the original score will differ from the new score, only that more time has been spent in the assessment.
                </div>
                <ul style="list-style-type:none;">
                    <li class="py-1"><span class="text-warning">A</span> (Vault Deck):
                        Based on the deck composition alone it is believed the deck can routinely make day two of an archon event at Top Level KeyForge events. </li>
                    <li class="py-1"><span class="text-warning">A-</span> (Doorstep to Vault):
                        Almost there. Just is missing one element (usually due to the current competitive meta) to make it fully an A-tier deck.</li>
                    <li class="py-1"><span class="text-warning">B+</span> (Top Competitive):	
                        With a lot of skill can be competitive at a top-level event, but has one potential weakness or element that the player must account for or make up for through personal play experience and or practice with the deck.</li>
                    <li class="py-1"><span class="text-warning">B</span> (Competitive): 	
                        Very good decks that are expected to have high success at local competitive play. Not likely to make day two at a top-level event. A lot of decks that are very inconsistent fall in this range even though they may have some draws that may near auto-win games.</li>
                    <li class="py-1"><span class="text-warning">B-</span> (Low Competitive):	
                        Close to B but typically has one area of critical failure to account for a vital aspect of the game, but the deck is otherwise very good. Great to play locally and should occasionally win a less competitive local.</li>
                    <li class="py-1"><span class="text-warning">C+ through D</span> (Fun Times):	
                        Decks that have fun things going on in them, but have too many things dragging them down to achieve consistent success.</li>
                    <li class="py-1"><span class="text-warning">F</span> (Poor):
                        Decks that are hard to win with and cannot even be used for reversal.</li>
                </ul>
            </div>
                
                <div class="my-5">
                    <h4 class="text-warning">Our Band of Misfits</h4>
                    <div class="ms-3">
                        <h5 class="text-info fw-bold">The W O O K I E</h5>
                        <h6 class="pb-3">The creator of Archons Corner, host of Archons Corner, and master editor for all that is AC podcasting.
                        None of AC would be here together without the blood, sweat, and tears of The Wookie.</h6>

                        <h5 class="text-info fw-bold py-">Big Z</h5>
                        <h6 class="pb-3">Joining early on in the heyday of KF, Big Z was brought on to discuss high-end competitive strategy.
                            He has gone on to help coordinate and organize online and real-life events for the community, and is now the founder of the Z Score analysis system.</h6>

                        <h5 class="text-info fw-bold">DrSheep</h5>
                        <h6 class="pb-3">Our resident grumpus was added to “liven” up the show.
                            Sheep is in charge of running the many weekly events that are hosted on the Archons Corner <a href="https://discord.gg/DQ6cwfmHxx" style="color: #85a5ff;">Discord</a>.
                            Father of Shredder and President of the AABD (Archons Against Broken Decks).</h6>

                        <h5 class="text-info fw-bold">EwokJR</h5>
                        <h6 class="pb-3">Long time real-life friend of Sheep, JR joined us when one of our cast took a hiatus and has been an invaluable positive influence on all of us.
                            He has thrived in his role as WokBot and keeps us honest when discussing factual data about cards and historic events.</h6>

                        <h5 class="text-info fw-bold">Drazkor</h5>
                        <h6 class="pb-3">I am not sure anyone knows how Drazkor joined the AC crew/cast, but without him, we would not get to share the treasured Drazkor experience with the rest of the archons across The Crucible.</h6>

                        <h5 class="text-info fw-bold">SoutherlyElf</h5>
                        <h6 class="pb-3">Resident pirate, Archons Corner Lead Dev, and captain of Tavern Brawlers.
                            Southerly took the initiative to bring AC technical endeavors to life after being frustrated with watching people manually enter card names into spreadsheets.</h6>
                    </div>
                </div>
            </div>

                
                
                
                
            </div>
        </div>
        

    <script src="/js/bootstrap.min.js"></script>
</body>
</html>