<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Draw Better Cards</title>

    <link rel="stylesheet" href ="/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="bg-dark text-white px-4 pb-5">
        <h1>Admin Page</h1>

        <% if (messages.error) { %>
            <div class="text-danger">
                    <%= messages.error %>
                </div>
        <% } %>

        <div class="btn-toolbar" role="toolbar">
            <div class="mr-2 btn-group-vertical" role="group">
                <form class="py-2 mx-3" action="/admin/alpha" method="GET">
                    <button class="btn btn-outline-light w-10" type="submit">Alpha Score Hub</button>
                </form>

                <h3 class="pt-5 text-danger">Red buttons will take the site down</h3>
                <div class="my-2 mx-3">
                    <form action="/admin/scoreAdj" method="GET">
                        <button class="btn btn-danger text-black w-10" type="submit">Update Score Adjustment</button>
                    </form>
                </div>
                <div class="my-2 mx-3">
                    <form action="/admin/rescoreAll" method="GET">
                        <button class="btn btn-danger text-black w-10" type="submit">Rescore All Decks</button>
                    </form>
                </div>
                <div class="my-2 mx-3">
                    <form action="/admin/setUnlimited" method="GET">
                        <button class="btn btn-danger text-black w-10" type="submit">Refresh Patreon Tiers</button>
                    </form>
                </div>
                <div class="my-2 mx-3">
                    <form action="/admin/reimportDeck" method="GET">
                        <button class="btn btn-danger text-black w-10" type="submit">Reset Deck Card IDs</button>
                        <input class="px-2" type="text" id="deck_code" name="deck_code" placeholder="Deck Code" required>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.min.js"></script>
</body>
</html>