<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Draw Better Cards</title>

    <link rel="stylesheet" href ="/assets/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="bg-dark text-white">
        <h1>Admin Page</h1>

        <% if (messages.error) { %>
            <div class="text-danger">
                    <%= messages.error %>
                </div>
        <% } %>

        <div class="btn-toolbar pb-5 " role="toolbar">
            <div class="mr-2 btn-group-vertical" role="group">
                <form class="pb-5" action="/admin/alpha" method="GET">
                    <button class="btn btn-outline-light w-10" type="submit">Alpha Score Hub</button>
                </form>

                <h3 class="pt-5 text-danger">Red buttons will take the site down</h3>
                <form action="/admin/scoreAdj" method="GET">
                    <button class="btn btn-danger text-black w-10" type="submit">Update Score Adjustment</button>
                </form>
            </div>

        </div>
    </div>

    <script src="/assets/js/bootstrap.js"></script>
</body>
</html>