<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Draw Better Cards</title>

    <link rel="stylesheet" href ="/assets/css/bootstrap.min.css">
</head>
<body>
    <div class="bg-dark px-2 pb-4 text-white">
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/imports.ejs') %>


        <h1><%= user.username %>'s decks</h1>
        <table class="table table-striped" data-bs-theme="dark">
            <tr>
                <th>Score</th>
                <th>Alpha</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>

            <tbody id="data"></tbody>
        </table>


        <input class="btn mx-3 btn-warning" id="load-more" type="submit" value="Load More">
    </div>

    <script src="/assets/js/bootstrap.js"></script>
</body>
</html>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript">
    var clicks = 0;

    $(document).ready(function() {
        loadMore(clicks)

        $("#load-more").click(function(){
            loadMore(clicks)
        }); 
    });


    function loadMore(clickCount) {
        clicks++;
        
        $.ajax({
            method: "POST",
            url: "/load/mydecks",
            data: {
                page: clickCount
            },
            dataType: 'json',
            cache: false,
            success: function(data) {
                $.each(data, function(key, val) {
                    document.getElementById("data").insertAdjacentHTML("beforeend", val);
                });
            },
            error: function(data) {
                console.log("Something went wrong!")
            }
        });
    }
 </script>