<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Draw Better Cards</title>

    <link rel="stylesheet" href ="/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="px-4 bg-dark">
        <%- include('partials/searchNav.ejs') %>
    </div>

    <div class="bg-dark px-4 pb-4 text-white">
        <h1 class="mx-1">All Decks</h1>
        <table class="table mx-1 table-striped" data-bs-theme="dark">
            <thead>
                <th>Score</th>
                <th>Alpha</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </thead>

            <tbody id="data"></tbody>
        </table>


        <input class="btn mx-3 btn-warning" id="load-more" type="submit" value="Load More">
    </div>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript">
    var clicks = 0;
    var searchData = <%- JSON.stringify(searchData) %>;

    $(document).ready(function() {
        loadMore(clicks)

        $("#load-more").click(function(){
            loadMore(clicks)
        }); 
    });


    function loadMore(clickCount) {
        clicks++;
        
        $.ajax({
            method: "POST",
            url: "/load/search",
            data: {
                page: clickCount,
                data: JSON.stringify(searchData)
            },
            dataType: 'json',
            cache: false,
            success: function(data) {
                $.each(data, function(key, val) {
                    document.getElementById("data").insertAdjacentHTML("beforeend", val);
                });
            },
            error: function(data) {
                console.log("Something went wrong!")
            }
        });
    }
 </script>