<table>
    <tr>
        <td>
        <form action="/" method="GET">
            <button type="submit">Home</button>
        </form>
        </td>
        <td>
            <% if (isLoggedIn) { %>
                <form action="/mydecks" method="GET">
                    <button type="submit">My Decks</button>
                </form></td>
                <td><form action="/logout" method="POST">
                    <button type="submit">Log Out</button>
                </form>
            <% } else {%>
                <form action="/login" method="GET">
                    <button type="submit">Login</button>
                </form>
            <% } %>
        </td>
    </tr>
</table>

<h1>All Decks</h1>
<table>
    <thead>
        <th>Score</th>
        <th>Alpha</th>
        <th>Name</th>
        <th></th>
        <th></th>
    </thead>

    <tbody id="data"></tbody>
</table>


<input id="load-more" type="submit" value="Load More">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript">
    var clicks = 0;

    $(document).ready(function() {
        loadMore(clicks)

        $("#load-more").click(function(){
            loadMore(clicks)
        }); 
    });


    function loadMore(clickCount) {
        clicks++;
        
        $.ajax({
            method: "POST",
            url: "/load/search",
            data: {
                page: clickCount
            },
            dataType: 'json',
            cache: false,
            success: function(data) {
                $.each(data, function(key, val) {
                    document.getElementById("data").insertAdjacentHTML("beforeend", val);
                });
            },
            error: function(data) {
                console.log("Something went wrong!")
            }
        });
    }
 </script>